<launch>
  <arg name="joy"        default="true" />
  <arg name="joy_dev"    default="$(optenv SPOT_JOY_DEVICE /dev/input/js0)" />
  <arg name="joy_config" default="$(eval optenv('SPOT_JOY_CONFIG', find('spot_driver') + '/config/teleop.yaml'))" />

  <group if="$(arg joy)">
    <rosparam command="load" ns="bluetooth_teleop" file="$(arg joy_config)" />

    <group ns="bluetooth_teleop">
      <node pkg="spot_driver" type="joystick_monitor" name="joystick_monitor" output="screen"/>
      <param name="joy_node/dev" value="$(arg joy_dev)" />
      <node pkg="joy" type="joy_node" name="joy_node" />
      <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
    </group>
  </group>
</launch>
